@charset "UTF-8";
.login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 400px;
  min-height: 400px;
  height: 100%;
  background: radial-gradient(circle, #533dc6 0, #0b306d 155px, #011e40 306px, #011e40 1920px) #011e40; }
  .login::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0, rgba(246, 246, 246, 0.1) 100%);
    z-index: 10; }
  .login .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 134px;
    width: 270px;
    height: 320px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    z-index: 20; }
    .login .login-content::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -316px;
      margin-top: 33px;
      width: 290px;
      height: 252px;
      background: url(../../static/images/login-left.png) no-repeat 0 0;
      background-size: 289px 251px; }
    .login .login-content .login-icon {
      margin: 21px auto 0;
      width: 134px; }
      .login .login-content .login-icon > img {
        display: block;
        width: 134px;
        height: 18px; }
    .login .login-content > h1 {
      position: relative;
      margin: 10px auto 13px;
      width: 252px;
      font-size: 14px;
      line-height: 28px;
      color: #666;
      text-align: center; }
      .login .login-content > h1 .version {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
        font-size: 12px;
        line-height: 26px;
        color: #999;
        font-family: Arial; }
      .login .login-content > h1::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 14px;
        width: 25px;
        height: 1px;
        background-color: #d6d6d6; }
      .login .login-content > h1::after {
        content: "";
        diplay: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 14px;
        height: 1px;
        width: 25px;
        background-color: #d6d6d6; }
    .login .login-content .form {
      padding: 0 25px; }
      .login .login-content .form .form-group {
        position: relative;
        margin-bottom: 0;
        padding-bottom: 24px;
        display: flex; }
        .login .login-content .form .form-group .input-wrap {
          flex: 1;
          border-radius: 4px; }
          .login .login-content .form .form-group .input-wrap > input {
            box-sizing: border-box;
            width: 100%;
            height: 30px;
            padding: 0 5px;
            font-size: 12px;
            line-height: 30px;
            border: 1px solid #d6d6d6;
            border-radius: 4px; }
            .login .login-content .form .form-group .input-wrap > input:focus {
              border-radius: 4px; }
        .login .login-content .form .form-group .vcode-input {
          width: 120px; }
        .login .login-content .form .form-group .vcode {
          margin-left: 5px;
          display: flex; }
          .login .login-content .form .form-group .vcode > img {
            display: block;
            width: 70px;
            height: 30px; }
          .login .login-content .form .form-group .vcode .refresh-btn {
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 4px;
            text-align: center;
            background: url(../../static/images/refresh.png) no-repeat 6px 6px #efefef; }
        .login .login-content .form .form-group .error-cls input {
          border: 1px solid #ff0000 !important; }
        .login .login-content .form .form-group .error-message {
          position: absolute;
          bottom: 0;
          left: 0;
          padding-left: 21px;
          font-size: 12px;
          line-height: 24px;
          color: #d83a37; }
          .login .login-content .form .form-group .error-message:before {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 2px;
            width: 14px;
            height: 14px;
            background: url(../../static/images/danger-icon.png) no-repeat 0 0; }
      .login .login-content .form .form-action {
        position: relative; }
        .login .login-content .form .form-action .submit {
          display: block;
          padding: 0;
          width: 100%;
          height: 34px;
          background-color: #4381e6;
          border-radius: 34px;
          color: #fff;
          font-size: 14px;
          line-height: 32px;
          cursor: pointer; }
          .login .login-content .form .form-action .submit:hover {
            background-color: #4f8ff3; }
          .login .login-content .form .form-action .submit:active {
            background-color: #3d74cf; }
      .login .login-content .form .message {
        font-size: 12px;
        line-height: 36px;
        color: #aaa;
        text-align: center; }

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #011e40; }
  .menu > h1 {
    flex: 0 0 40px;
    height: 40px;
    padding-top: 21px;
    font-size: 0;
    text-align: center; }
    .menu > h1 > img {
      margin: 0 auto;
      display: block;
      width: 132px;
      height: 18px; }
  .menu .menu-list {
    flex: 1;
    overflow: hidden; }
    .menu .menu-list .menu-content .item .menu-txt {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px; }
      .menu .menu-list .menu-content .item .menu-txt .left-icon {
        margin-left: 24px;
        display: block;
        flex: 0 0 16px;
        width: 18px;
        height: 18px;
        background: url(../../static/images/menu-icons.png) no-repeat 0 100px; }
      .menu .menu-list .menu-content .item .menu-txt > .title, .menu .menu-list .menu-content .item .set-system .wrap .menu-txt > .title-success, .set-system .wrap .menu .menu-list .menu-content .item .menu-txt > .title-success {
        flex: 1;
        margin-left: 12px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        text-decoration: none; }
      .menu .menu-list .menu-content .item .menu-txt .arrow-icon {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 16px;
        background: url(../../static/images/arrow-icon.png) no-repeat 0 0;
        cursor: pointer; }
        .menu .menu-list .menu-content .item .menu-txt .arrow-icon.up {
          background-position: 0 -16px; }
      .menu .menu-list .menu-content .item .menu-txt.menu0 > .left-icon {
        background-position: 0 0; }
      .menu .menu-list .menu-content .item .menu-txt.menu0:hover > .left-icon {
        background-position: -60px 0; }
      .menu .menu-list .menu-content .item .menu-txt.menu1 > .left-icon {
        background-position: 0 -20px; }
      .menu .menu-list .menu-content .item .menu-txt.menu1:hover > .left-icon {
        background-position: -60px -20px; }
      .menu .menu-list .menu-content .item .menu-txt.menu2 > .left-icon {
        background-position: 0 -39px; }
      .menu .menu-list .menu-content .item .menu-txt.menu2:hover > .left-icon {
        background-position: -60px -39px; }
      .menu .menu-list .menu-content .item .menu-txt.menu3 > .left-icon {
        background-position: 0 -60px; }
      .menu .menu-list .menu-content .item .menu-txt.menu3:hover > .left-icon {
        background-position: -60px -60px; }
      .menu .menu-list .menu-content .item .menu-txt.menu4 > .left-icon {
        background-position: -1px -80px; }
      .menu .menu-list .menu-content .item .menu-txt.menu4:hover > .left-icon {
        background-position: -61px -80px; }
      .menu .menu-list .menu-content .item .menu-txt.menu4.active > .left-icon, .menu .menu-list .menu-content .item .menu-txt.menu4:active > .left-icon {
        background-position: -121px -80px; }
      .menu .menu-list .menu-content .item .menu-txt.menu5 > .left-icon {
        background-position: -1px -100px; }
      .menu .menu-list .menu-content .item .menu-txt.menu5:hover > .left-icon {
        background-position: -61px -100px; }
      .menu .menu-list .menu-content .item .menu-txt.menu5.active > .left-icon, .menu .menu-list .menu-content .item .menu-txt.menu5:active > .left-icon {
        background-position: -121px -100px; }
      .menu .menu-list .menu-content .item .menu-txt:hover > .title, .menu .menu-list .menu-content .item .set-system .wrap .menu-txt:hover > .title-success, .set-system .wrap .menu .menu-list .menu-content .item .menu-txt:hover > .title-success {
        color: #4381e6; }
      .menu .menu-list .menu-content .item .menu-txt.active .left-icon, .menu .menu-list .menu-content .item .menu-txt:active .left-icon {
        background-position-x: -120px; }
      .menu .menu-list .menu-content .item .menu-txt.active > .title, .menu .menu-list .menu-content .item .set-system .wrap .menu-txt.active > .title-success, .set-system .wrap .menu .menu-list .menu-content .item .menu-txt.active > .title-success, .menu .menu-list .menu-content .item .menu-txt:active > .title, .menu .menu-list .menu-content .item .set-system .wrap .menu-txt:active > .title-success, .set-system .wrap .menu .menu-list .menu-content .item .menu-txt:active > .title-success {
        color: #4381e6; }
    .menu .menu-list .menu-content.hide {
      display: none; }
  .menu .version-info > .title, .menu .set-system .wrap .version-info > .title-success, .set-system .wrap .menu .version-info > .title-success {
    margin: 0 auto;
    width: 100px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 4px;
    color: #3d74cf; }
  .menu .version-info > .subtitle, .menu .version-info > .txt, .menu .set-system .wrap .version-info > .time-subtitle, .set-system .wrap .menu .version-info > .time-subtitle {
    margin-top: 4px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #516377; }
  .menu .scrollbar-container {
    border-radius: 8px;
    background: none !important; }
  .menu .scrollbar {
    border-radius: 8px;
    background-color: #fff !important; }

.header-wrap {
  height: 54px;
  background-color: #fff; }
  .header-wrap > h1 {
    float: left;
    margin-left: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #333; }
  .header-wrap .avatar-wrap {
    float: right;
    padding-right: 24px;
    display: flex; }
    .header-wrap .avatar-wrap > img {
      margin-top: 10px;
      margin-right: 9px;
      display: block;
      flex: 0 0 30px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden; }
    .header-wrap .avatar-wrap .nickname {
      margin-top: 10px;
      margin-right: 12px;
      display: block;
      flex: 1;
      font-size: 12px;
      line-height: 30px;
      color: #666; }
    .header-wrap .avatar-wrap .sign-out {
      display: block;
      margin-top: 16px;
      margin-right: 11px;
      padding: 0 14px;
      flex: 0 0 24px;
      width: 24px;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
      color: #999;
      cursor: pointer;
      border-left: 1px solid #999;
      white-space: nowrap; }

.container {
  margin-left: 150px;
  min-width: 850px; }

@keyframes move {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
.home-wrap {
  padding: 10px 8px 22px 26px;
  background-color: #ebecf1; }
  .home-wrap .data {
    display: flex; }
    .home-wrap .data .column1, .home-wrap .data .column2 {
      margin-right: 10px;
      display: flex;
      flex: 65;
      background-color: #fff;
      border-radius: 8px; }
      .home-wrap .data .column1 > .icon, .home-wrap .data .column2 > .icon {
        display: block;
        position: relative;
        margin: 8px 0 8px 14px;
        flex: 0 0 118px;
        width: 118px;
        height: 77px;
        border-right: 1px solid #d6d6d6;
        background: url(../../static/images/radar1.png) no-repeat 0 0;
        overflow: hidden; }
        .home-wrap .data .column1 > .icon:before, .home-wrap .data .column2 > .icon:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 77px;
          height: 77px;
          background: url(../../static/images/radar2.png) no-repeat 2px 2px;
          background-size: 72px 72px;
          animation: 4s move linear infinite; }
      .home-wrap .data .column1 > .txt, .home-wrap .data .column2 > .txt {
        padding-top: 8px;
        flex: 1; }
        .home-wrap .data .column1 > .txt .title, .home-wrap .data .column2 > .txt .title, .home-wrap .data .column1 > .txt .set-system .wrap .title-success, .set-system .wrap .home-wrap .data .column1 > .txt .title-success, .home-wrap .data .column2 > .txt .set-system .wrap .title-success, .set-system .wrap .home-wrap .data .column2 > .txt .title-success {
          padding: 3px 0;
          font-size: 12px;
          line-height: 14px;
          text-align: center; }
          .home-wrap .data .column1 > .txt .title:before, .home-wrap .data .column2 > .txt .title:before, .home-wrap .data .column1 > .txt .set-system .wrap .title-success:before, .set-system .wrap .home-wrap .data .column1 > .txt .title-success:before, .home-wrap .data .column2 > .txt .set-system .wrap .title-success:before, .set-system .wrap .home-wrap .data .column2 > .txt .title-success:before {
            content: "";
            margin-right: 6px;
            display: inline-block;
            vertical-align: top;
            width: 16px;
            height: 14px;
            background: url(../../static/images/radar-icon.png) no-repeat 0 0; }
        .home-wrap .data .column1 > .txt .num, .home-wrap .data .column2 > .txt .num {
          margin-top: 17px;
          font-size: 24px;
          line-height: 40px;
          text-align: center;
          color: #ff0000; }
          .home-wrap .data .column1 > .txt .num.w::after, .home-wrap .data .column2 > .txt .num.w::after {
            content: "万";
            margin-left: 3px;
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            line-height: 48px;
            color: #ff0000; }
    .home-wrap .data .column2 {
      flex: 44; }
      .home-wrap .data .column2 > .txt .num {
        color: #333; }
        .home-wrap .data .column2 > .txt .num.w::after {
          content: "万";
          margin-left: 3px;
          display: inline-block;
          vertical-align: top;
          font-size: 12px;
          line-height: 48px;
          color: #333; }
      .home-wrap .data .column2 > .txt .title:before, .home-wrap .data .column2 > .txt .set-system .wrap .title-success:before, .set-system .wrap .home-wrap .data .column2 > .txt .title-success:before {
        width: 16px;
        height: 16px;
        background: url(../../static/images/tcp-icon.png) no-repeat 0 0; }
      .home-wrap .data .column2:last-child {
        margin-right: 0; }
  .home-wrap .network-chart {
    margin-top: 10px;
    height: 274px;
    background: #fff;
    border-radius: 8px; }
  .home-wrap .chart-row {
    display: flex;
    margin-top: 10px; }
    .home-wrap .chart-row .cpu-chart, .home-wrap .chart-row .pie-chart {
      margin-right: 10px;
      flex: 33;
      height: 272px;
      background: #fff;
      border-radius: 8px; }
    .home-wrap .chart-row .pie-chart {
      flex: 23; }
      .home-wrap .chart-row .pie-chart:last-child {
        margin-right: 0; }

.riskwarning, .ip-warnning, .port-log {
  padding: 10px;
  background-color: #ebecf1; }
  .riskwarning .search-wrap, .ip-warnning .search-wrap, .port-log .search-wrap {
    display: flex;
    padding: 10px 0 10px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6; }
    .riskwarning .search-wrap .title, .ip-warnning .search-wrap .title, .port-log .search-wrap .title, .riskwarning .search-wrap .set-system .wrap .title-success, .set-system .wrap .riskwarning .search-wrap .title-success, .ip-warnning .search-wrap .set-system .wrap .title-success, .set-system .wrap .ip-warnning .search-wrap .title-success, .port-log .search-wrap .set-system .wrap .title-success, .set-system .wrap .port-log .search-wrap .title-success {
      margin-right: 10px;
      display: block;
      font-size: 12px;
      line-height: 24px;
      color: #333; }
    .riskwarning .search-wrap .select, .ip-warnning .search-wrap .select, .port-log .search-wrap .select {
      margin-right: 8px;
      width: 100px;
      height: 24px;
      border: 1px solid #999;
      border-radius: 24px; }
      .riskwarning .search-wrap .select > div:nth-child(1), .ip-warnning .search-wrap .select > div:nth-child(1), .port-log .search-wrap .select > div:nth-child(1), .riskwarning .search-wrap .select > span, .ip-warnning .search-wrap .select > span, .port-log .search-wrap .select > span, .riskwarning .search-wrap .select > div:nth-child(2), .ip-warnning .search-wrap .select > div:nth-child(2), .port-log .search-wrap .select > div:nth-child(2) {
        padding: 0 0 0 15px;
        height: 22px;
        border: none;
        background: none;
        min-height: auto;
        border-radius: 24px; }
        .riskwarning .search-wrap .select > div:nth-child(1) > div, .ip-warnning .search-wrap .select > div:nth-child(1) > div, .port-log .search-wrap .select > div:nth-child(1) > div, .riskwarning .search-wrap .select > span > div, .ip-warnning .search-wrap .select > span > div, .port-log .search-wrap .select > span > div, .riskwarning .search-wrap .select > div:nth-child(2) > div, .ip-warnning .search-wrap .select > div:nth-child(2) > div, .port-log .search-wrap .select > div:nth-child(2) > div {
          padding: 0;
          height: 22px;
          font-size: 12px;
          line-height: 22px;
          color: #3e73cf; }
      .riskwarning .search-wrap .select > div:nth-child(3), .ip-warnning .search-wrap .select > div:nth-child(3), .port-log .search-wrap .select > div:nth-child(3) {
        min-width: 120px;
        white-space: nowrap; }
    .riskwarning .search-wrap .search-input, .ip-warnning .search-wrap .search-input, .port-log .search-wrap .search-input, .riskwarning .search-wrap .time-input > input, .ip-warnning .search-wrap .time-input > input, .port-log .search-wrap .time-input > input {
      margin-right: 8px;
      padding: 4px 15px;
      width: 164px;
      border-radius: 24px;
      font-size: 12px;
      line-height: 16px;
      height: 24px;
      border: 1px solid #999; }
      .riskwarning .search-wrap .search-input:focus, .ip-warnning .search-wrap .search-input:focus, .port-log .search-wrap .search-input:focus, .riskwarning .search-wrap .time-input > input:focus, .ip-warnning .search-wrap .time-input > input:focus, .port-log .search-wrap .time-input > input:focus {
        outline: none;
        border-color: #2684FF; }
    .riskwarning .search-wrap .datepicker-wrap, .ip-warnning .search-wrap .datepicker-wrap, .port-log .search-wrap .datepicker-wrap {
      margin-right: 10px;
      width: 180px !important;
      height: 24px; }
      .riskwarning .search-wrap .datepicker-wrap input, .ip-warnning .search-wrap .datepicker-wrap input, .port-log .search-wrap .datepicker-wrap input {
        height: 24px;
        font-size: 12px;
        border-radius: 24px; }
    .riskwarning .search-wrap .search-btn, .ip-warnning .search-wrap .search-btn, .port-log .search-wrap .search-btn {
      display: block;
      font-size: 12px;
      line-height: 24px;
      color: #fff;
      background-color: #4381e6;
      border-radius: 24px;
      min-width: 60px;
      text-align: center;
      cursor: pointer; }
      .riskwarning .search-wrap .search-btn:hover, .ip-warnning .search-wrap .search-btn:hover, .port-log .search-wrap .search-btn:hover {
        background-color: #4f8ff3; }
      .riskwarning .search-wrap .search-btn.active, .ip-warnning .search-wrap .search-btn.active, .port-log .search-wrap .search-btn.active, .riskwarning .search-wrap .search-btn:active, .ip-warnning .search-wrap .search-btn:active, .port-log .search-wrap .search-btn:active {
        background-color: #3d74cf; }
  .riskwarning .table, .ip-warnning .table, .port-log .table {
    background-color: #fff;
    min-height: 100%; }
    .riskwarning .table thead > tr > th, .ip-warnning .table thead > tr > th, .port-log .table thead > tr > th {
      background: #fff; }
  .riskwarning .pagination-wrap, .ip-warnning .pagination-wrap, .port-log .pagination-wrap {
    text-align: center; }
    .riskwarning .pagination-wrap li, .ip-warnning .pagination-wrap li, .port-log .pagination-wrap li {
      margin-right: 10px;
      border-radius: 32px; }
      .riskwarning .pagination-wrap li > a, .ip-warnning .pagination-wrap li > a, .port-log .pagination-wrap li > a {
        border-radius: 32px; }

.change-password {
  padding: 10px;
  background-color: #ebecf1; }
  .change-password .form {
    padding-left: 24px;
    border-radius: 4px;
    background-color: #fff; }
    .change-password .form .form-group {
      padding-top: 30px;
      display: flex; }
      .change-password .form .form-group .form-label {
        position: relative;
        display: block;
        flex: 0 0 98px;
        padding-left: 14px;
        width: 98px;
        font-size: 12px;
        line-height: 30px;
        color: #333; }
        .change-password .form .form-group .form-label::before {
          content: "*";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
          line-height: 30px;
          color: #ff0000; }
      .change-password .form .form-group .form-control {
        flex: 0 0 270px;
        width: 270px; }
      .change-password .form .form-group.error .form-control {
        border-color: #ff0000; }
    .change-password .form .error-msg {
      position: relative;
      margin-bottom: -30px;
      margin-left: 98px;
      padding-left: 22px;
      font-size: 12px;
      line-height: 30px;
      color: #ff0000; }
      .change-password .form .error-msg::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        margin-top: 8px;
        background: url(../../static/images/danger-icon.png) no-repeat 0 0; }
    .change-password .form .action {
      margin-top: 28px;
      margin-left: 98px;
      padding-bottom: 30px;
      width: 270px;
      text-align: center; }
      .change-password .form .action .submit {
        display: inline-block;
        font-size: 12px;
        line-height: 32px;
        background: #4381e6;
        color: #fff;
        border-radius: 32px;
        min-width: 100px;
        cursor: pointer; }
        .change-password .form .action .submit:hover {
          background-color: #4f8ff3; }
        .change-password .form .action .submit.active, .change-password .form .action .submit:active {
          background-color: #3d74cf; }

@keyframes moveProgress {
  0% {
    transform: translateX(0); }
  75% {
    transform: translateX(160px); }
  100% {
    transform: translateX(160px); } }
.set-system {
  position: absolute;
  top: 54px;
  left: 150px;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 24px;
  background-color: #ebecf1;
  min-width: 850px;
  min-height: 400px; }
  .set-system .wrap {
    position: relative;
    flex: 0 0 260px;
    margin-right: 20px;
    width: 260px;
    height: 202px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    cursor: pointer; }
    .set-system .wrap > .icon {
      margin: 16px auto 0;
      width: 60px;
      height: 60px; }
      .set-system .wrap > .icon > img {
        height: 60px;
        overflow: hidden; }
      .set-system .wrap > .icon .icon2, .set-system .wrap > .icon .icon3 {
        display: none; }
      .set-system .wrap > .icon .icon3 {
        width: 60px; }
    .set-system .wrap:hover > .icon .icon1 {
      display: none; }
    .set-system .wrap:hover > .icon .icon2 {
      display: block; }
    .set-system .wrap:hover > .icon .icon3 {
      display: none; }
    .set-system .wrap.active > .icon .icon1 {
      display: none; }
    .set-system .wrap.active > .icon .icon2 {
      display: block; }
    .set-system .wrap.active > .icon .icon3 {
      display: none; }
    .set-system .wrap .title, .set-system .wrap .title-success {
      margin-top: 14px;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      color: #333; }
    .set-system .wrap .title-success {
      display: none;
      color: #333; }
    .set-system .wrap .progress {
      display: none;
      margin: 14px auto 0;
      padding-top: 14px;
      padding-bottom: 8px;
      width: 154px; }
      .set-system .wrap .progress .progress-wrap {
        position: relative;
        height: 6px;
        border-radius: 6px;
        background-color: #ebecf1;
        overflow: hidden; }
        .set-system .wrap .progress .progress-wrap > .progress-bar {
          position: absolute;
          left: 0;
          top: 0;
          width: 100px;
          height: 6px;
          background: url(../../static/images/progress-bar.png) no-repeat 0 0;
          animation: moveProgress 2s linear infinite; }
    .set-system .wrap .subtitle, .set-system .wrap .menu .version-info > .txt, .menu .set-system .wrap .version-info > .txt, .set-system .wrap .time-subtitle {
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      color: #999; }
    .set-system .wrap .time-subtitle {
      padding-top: 28px;
      padding-bottom: 14px; }
    .set-system .wrap .btn {
      margin-top: 12px;
      text-align: center; }
      .set-system .wrap .btn > span {
        display: inline-block;
        width: 120px;
        font-size: 12px;
        line-height: 30px;
        border-radius: 30px; }
        .set-system .wrap .btn > span.btn1 {
          background-color: #4381e6;
          color: #fff;
          cursor: pointer; }
        .set-system .wrap .btn > span.btn2 {
          display: none;
          background-color: #eeeff4;
          color: #999; }
    .set-system .wrap.initing > .icon .icon1 {
      display: none; }
    .set-system .wrap.initing > .icon .icon2 {
      display: block; }
    .set-system .wrap.initing:hover > .icon .icon1 {
      display: none; }
    .set-system .wrap.initing:hover > .icon .icon2 {
      display: block; }
    .set-system .wrap.initing.active > .icon .icon2 {
      display: block; }
    .set-system .wrap.initing.active > .icon .icon3 {
      display: none; }
    .set-system .wrap.initing .title, .set-system .wrap.initing .title-success {
      display: none; }
    .set-system .wrap.initing .progress {
      display: block; }
    .set-system .wrap.initing .btn .btn1 {
      display: none; }
    .set-system .wrap.initing .btn .btn2 {
      display: inline-block; }
    .set-system .wrap.init-success .icon .icon1 {
      display: none; }
    .set-system .wrap.init-success .icon .icon3 {
      display: block; }
    .set-system .wrap.init-success:hover .icon .icon2, .set-system .wrap.init-success.active .icon .icon2 {
      display: none; }
    .set-system .wrap.init-success:hover .icon .icon3, .set-system .wrap.init-success.active .icon .icon3 {
      display: block; }
    .set-system .wrap.init-success .title, .set-system .wrap.init-success .title-success {
      display: none; }
    .set-system .wrap.init-success .title-success {
      display: block; }
    .set-system .wrap.init-success .btn .btn1 {
      display: none; }
    .set-system .wrap.init-success .btn .btn2 {
      display: inline-block; }
    .set-system .wrap:hover {
      border-color: #95b5ee;
      -webkit-box-shadow: 0 0 15px #95b5ee;
      -moz-box-shadow: 0 0 15px #95b5ee;
      box-shadow: 0 0 15px #95b5ee; }
      .set-system .wrap:hover > .icon .icon1 {
        display: none; }
    .set-system .wrap.active {
      border-color: #95b5ee;
      -webkit-box-shadow: 0 0 15px #95b5ee;
      -moz-box-shadow: 0 0 15px #95b5ee;
      box-shadow: 0 0 15px #95b5ee; }
      .set-system .wrap.active > .icon .icon1 {
        display: none; }
    .set-system .wrap .time-form {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding-top: 6px;
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden; }
      .set-system .wrap .time-form .form-group {
        margin-top: 18px;
        display: flex; }
        .set-system .wrap .time-form .form-group .label {
          flex: 0 0 48px;
          width: 48px;
          font-size: 12px;
          line-height: 30px;
          color: #333;
          text-align: right; }
        .set-system .wrap .time-form .form-group .form-control {
          width: 180px;
          margin-left: 5px;
          border-color: #999; }
      .set-system .wrap .time-form .tip-message {
        visibility: hidden;
        margin-left: 49px;
        padding-top: 14px;
        font-size: 12px;
        line-height: 28px;
        width: 180px;
        height: 42px;
        text-align: center;
        color: #333; }
        .set-system .wrap .time-form .tip-message.success {
          visibility: visible; }
        .set-system .wrap .time-form .tip-message.error {
          visibility: visible;
          color: #ff0000; }
      .set-system .wrap .time-form .action {
        margin-top: 12px;
        text-align: center; }
        .set-system .wrap .time-form .action .save-btn {
          display: inline-block;
          width: 120px;
          font-size: 12px;
          line-height: 30px;
          border-radius: 30px;
          color: #fff;
          background-color: #4381e6; }
          .set-system .wrap .time-form .action .save-btn:hover {
            background-color: #4f8ff3; }
          .set-system .wrap .time-form .action .save-btn:active, .set-system .wrap .time-form .action .save-btn.active {
            background-color: #3d74cf; }
          .set-system .wrap .time-form .action .save-btn.disabled {
            background-color: #eeeff4;
            color: #999; }
            .set-system .wrap .time-form .action .save-btn.disabled:hover {
              background-color: #eeeff4;
              color: #999; }
            .set-system .wrap .time-form .action .save-btn.disabled:active {
              background-color: #eeeff4;
              color: #999; }
      .set-system .wrap .time-form.initing {
        display: block; }

/*# sourceMappingURL=style.css.map */
